@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
body {
    background: url(virginie-laune-459952-unsplash.jpg) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 700px;
    font-size: 20px;
}
h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 50px;
}
li {
    display: none;
    width: 340px;
    text-align: center;
    box-sizing: border-box;
    padding: 30px 0;
    height: 100px;
    background: #ffffff;
}
#first {
    display: block;
    padding: 0;
    margin: 0 auto;
    line-height: 100px;
    text-transform: uppercase;
}
#sec {
    position: relative;
    top: 100px;
    left: 10%;
}
#third {
    position: relative;
    top: 200px;
    left: 70%;
}
#fourth {
    position: relative;
    top: 300px;
    left: 20%;
}
#last {
    position: relative;
    top:400px;
    left: 35%;
}
